/* Transitions */

/* Normal page */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-active {
  transition-delay: 0.3s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

/* Menu-aside */
.slide-menu-enter-active, .slide-menu-leave-active {
  transition: all 0.2s ease-out;
}

.slide-menu-enter-active {
  transition-delay: 0.1s;
}

.slide-menu-enter-from,
.slide-menu-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

/* overlay-blur */
.slide-blur-enter-active, .slide-blur-leave-active {
  transition: all 0.2s ease-in;
}

.slide-blur-enter-active {
  transition-delay: 0.1s;
}

.slide-blur-enter-from,
.slide-blur-leave-to {
  opacity: 0;
}